<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Artigo</string>
		<string>Projeto de pesquisa</string>
		<string>Free</string>
		<string>Sections</string>
		<string>bibliografia</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Artigo</key>
			<dict>
				<key>lastModification</key>
				<real>575720085.50599504</real>
				<key>version</key>
				<dict>
					<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Free</key>
			<dict>
				<key>lastModification</key>
				<real>571255980.87965703</real>
				<key>version</key>
				<dict>
					<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Projeto de pesquisa</key>
			<dict>
				<key>lastModification</key>
				<real>571677660.61229396</real>
				<key>version</key>
				<dict>
					<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Sections</key>
			<dict>
				<key>lastModification</key>
				<real>570975243.11439395</real>
				<key>version</key>
				<dict>
					<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>bibliografia</key>
			<dict>
				<key>lastModification</key>
				<real>570975236.44306397</real>
				<key>version</key>
				<dict>
					<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Artigo.md</key>
			<dict>
				<key>lastModification</key>
				<real>569417925.94518101</real>
				<key>version</key>
				<dict>
					<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>569417913.15884602</real>
				<key>version</key>
				<dict>
					<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Sections.md</key>
			<dict>
				<key>lastModification</key>
				<real>569963145.674016</real>
				<key>version</key>
				<dict>
					<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Sections.md</string>
		</array>
		<array>
			<string>Artigo.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
			<integer>12</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>0a032761191759a9284273f43e396cf8714be305527501cf6e047c478f4c32aa</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
